<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='/assets/style.css' rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1 id="reghead">Create an account</h1>
    <form class = "register" method="post" action="/register">
      <input type='text' name='fname' placeholder='fname'/>
      <input type='text' name='lname' placeholder='lname'/>
      <br>
      <input type='text' name='username' placeholder='username'/>
      <input type='text' name='email' placeholder='email'/>
      <!--<input type='radio' name='male' >Male</input>
      <input type='radio' name='female'>Female</input>-->
      <br>
      <input type='text' name='mobile' placeholder='mobile number(+254)'/>
      <br>
      <input type='text' name='dob' placeholder='yyyy-mm-dd'/>
      <br>
      <input type='password' name='password' placeholder='password'/>
      <br>
      <input type='submit' value="register"/>
    </form>

  </body>
</html>
